<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <h3>Create a new Listing</h3><br>
                <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">

                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control"
                            required>
                        <div class="invalid-feedback">Please enter the Title</div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" placeholder="Enter Description" class="form-control"
                            required></textarea>
                        <div class="invalid-feedback">Please enter the Description</div>
                    </div>

                    <!-- <div class="mb-3">
                        <label for="image" class="form-label">Image Link</label>
                        <input type="text" name="listing[image]" placeholder="Enter Image URL/Link" class="form-control"
                            > -->
                        <!-- <div class="invalid-feedback">Please enter the URL</div> -->
                    <!-- </div> --> 

                    <!-- for image upload -->
                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Image</label>
                        <input type="file" name="listing[image]" placeholder="Enter Image URL/Link" class="form-control" required>
                        <!-- <div class="invalid-feedback">Please enter the URL</div> -->
                    </div>


                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="listing[price]" placeholder="1,200/night" class="form-control"
                                required>
                            <div class="invalid-feedback">Please enter the Price</div>
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" name="listing[location]" placeholder="Pune,Maharashtra"
                                class="form-control" required>
                            <div class="invalid-feedback">Please enter the Location</div>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
                        <div class="invalid-feedback">Please enter the Country</div>
                    </div>

                    <button class="mb-5 mt-3 btn btn-primary add-btn">Add</button>
                </form>
            </div>
        </div>
    </body>